{# -*- engine:django -*- #}

{% extends "layouts/layout.html.twig" %}

{% block content %}

	<main role="tablist" class="centered">
		<div class="tetas_sabrosas">
			<button hx-get="/login" role="tab" aria-controls="tab-content" hx-target="body" hx-push-url="true">
				<h2><strong>01</strong> Login</h2>
				<hr>
			</button>
			{% if action == "Login" %}
				<div id="tab-content" role="tabpanel" class="tab-content">
					<form method="post" action="/login">
						<label for="user">Username:</label>
						<input type="text" name="user">					
						<br>
						<label for="password">Password:</label>
						<input type="password" name="password">
						<br>
						<span class="error">{{ eror.login }}</span>
						<br>
						<input type="submit" name="submit" value="Login">
					</form>
				</div>
			{% endif %}
			<br>
			<button hx-get="/register" role="tab" aria-controls="tab-content" hx-target="body" hx-push-url="true">
				<h2><strong>02</strong> Register</h2>
				<hr>
			</button>
			{% if action == "Register" %}
				<div id="tab-content" role="tabpanel" class="tab-content">
					<form method="post" action="/register">
						<label for="user">Username:</label>
						<input type="text" name="user">
						<span class="error">{{ error.user }}</span>
						<br>
						<label for="password">Password:</label>
						<input type="password" name="password">
						<br>
						<label for="re-password">Repeat Password:</label>
						<input type="password" name="re-password">
						<span class="error">{{ error.passwd }}</span>	
						<br>
						<input type="submit" name="submit" value="Register">
					</form>
				</div>
			{% endif %}
		</div>
	</main>

{% endblock %}
