{# -*- engine:django -*- #}

{% extends "layouts/layout.html.twig" %}

{% block content %}

	<main>
		<table>
			<thead>
				<tr>
					<th scope="col">Nombre</th>
				</tr>
			</thead>
			<tbody>
				{% for table in tables %}
					<tr>
						<td>{{table}}</td>
						<td><a href="/table/{{table}}">Acceder -></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>

{% endblock %}
