header {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: grey;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  h2 {
	margin-bottom: 0;
  }
}

strong {
  font-size: 2em;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  font-family: sans-serif; /* TODO Look into different fonts */
}
