{# -*- engine:django -*- #}

{% extends "layouts/layout.html.twig" %}

{% import "macros/table.html.twig" as table %}

{% block content %}
	<main>
		<h2>{{tablename}}</h2>
		<button></button>
		<table>
			{{ table.thead(table[0]|keys) }}  
			<tbody>
				{% for row in table %}
					{{ table.trow(row, tablename, row|first)  }}
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
